body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: rgba(9, 95, 74, 0.39);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(185, 223, 161, 0.863);
}

input {
    width: 90%;
    margin: 5px;
    padding: 8px;
}

button {
    margin: 5px;
    padding: 10px;
    width: 50px;
    cursor: pointer;
}

ul {
    text-align: left;
    padding-left: 20px;
}
